.friendList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 30px;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    width: 120px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.avatar {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.online {

    color: green;
    margin-bottom: 5px;

}

.offline {
    color: red;
    margin-bottom: 5px;
}