.transactionHistory {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.transactionHistory thead {
    background-color: #222;
    color: white;
}

.transactionHistory th {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.transactionHistory tbody tr {
    text-align: left;
    border: 1px solid #ddd;
}

.transactionHistory td {
    padding: 10px;
    border: 1px solid #ddd;
}

.transactionHistory tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}